*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top_wall {
    background-color: #358675;
    height: 100px;
    position: relative;
}

.bot_wall {
    background-color: #d2d4c9;
    height: 835px;
}

.container {
    width: 1280px;
    height: 800px;
    background-color: white;
    position: absolute;
    margin-top: -80px;
    margin-left: 16%;
    display: flex;

}

.comp_left {
    width: 450px;
    height: auto;
    float: left;
    border-right: 1px solid lightgrey;
}

.comp_right {
    width: 830px;
    height: auto;
    float: left;
}

.header_left {
    height: 65px;
    background-color: #eaeaea;
    display: flex;
    flex-direction: row;
}

.noti {
    height: 70px;
    background-color: #8edafc;
}

.ricerca_contact {
    height: 50px;
    background-color: #fafafa;
    display: flex;
    flex-direction: row;
}

.ricerca_icon {
    color: #b1b1b1;
    margin-top: 7px;
    margin-left: 5px;
    padding-top: 10px;
    height: 35px;
    width: 100px;
    background-color: white;
    border: 1px solid lightgrey;
    display: flex;
    justify-content: center;
}

.ricerca_form input {
    margin-top: 7px;
    height: 35px;
    width: 340px;
    float: right;
    justify-content: center;

}

.chat {
    height: 615px;
    background-color: white;
    overflow-y: scroll;
}

.chat_1 {
    height: 70px;
    border-bottom: 1px solid lightgrey;
    opacity: 0.7;
    display: flex;
    flex-direction: row;
}

.chat_2 {
    background-color: #e9ebea;
    height: 70px;
    border-bottom: 1px solid lightgrey;
    display: flex;
    flex-direction: row;
}

.chat_text {
    margin-top: 16px;
    margin-left: 5px;
}

.chat_text p {
    opacity: 0.5;
}

.header_right {
    height: 65px;
    background-color: #eaeaea;
    display: flex;
    flex-direction: row;
}

.container_chat {
    width: 650px;
    margin: auto;
    height: 670px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.text_1 {
    width: 650px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
}

.text_1 p {
    padding: 15px;
    border-radius: 10px;
    background-color: lightgrey;
}

.text_2 {
    width: 650px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.text_2 p{
    padding: 15px;
    border-radius: 10px;
    background-color: lightgreen;
}

.wallpaper {
    height: 670px;
    background-image: url(img/wallpaper.jpg);
    overflow-y: scroll;
}

.chat_box {
    height: 65px;
    background-color: #f3eeea;
    display: flex;
    flex-direction: row;
}

.smile i {
    width: 50px;
    color: grey;
    margin-top: 18px;
    margin-left: 30px;
}

.form_chat input {
    margin-top: 18px;
    height: 35px;
    width: 650px;
    float: right;
    justify-content: center;

}

.vocal {
    color: grey;
    margin-top: 18px;
    width: 65px;
    display: flex;
    justify-content: flex-end;
}

.avatar_p {
    width: 220px;
}

.avatar_p img {
    margin-left: 5px;
}

.icon_header {
    color: #b1b1b1;
    width: 230px;
    margin-top: 26px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.new_chat {
    margin-left: 20px;
    margin-right: 20px;
}

.setting {
    margin-right: 30px;
}

.avatar_chat {
    width: 86px;
}

.chat_name {
    width: 400px;
    margin-top: 16px;
}

.chat_name p {
    color: #767982;
}

.avatar_chat img {
    margin-left: 5px;
}

.icon_header_right {
    color: #b1b1b1;
    width: 830px;
    margin-top: 26px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.allega {
    margin-left: 20px;
    margin-right: 20px;
}

.setting_right {
    margin-right: 30px;
}

.noti {
    display: flex;
    flex-direction: row;
}

.noti a {
    color: #767982;
}

.noti_icon {
    margin-left: 15px;
    padding-top: 3px;
}

.noti_text {
    margin-top: 16px;
    margin-left: 5px;
}
